<section id="projects">
	<div class="container">
		<h3>Projects</h3>
		<div class="panel panel-default">
			<div class="panel-body">
				<h5>
					<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="/handbook">handbook</a></strong>
					- guide for programming language, devops doc etc.
				</h5>
				<h5>
					<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="/leetcode.py">leetcode.py</a></strong>
					- python solutions for leetcode problems.
				</h5>
				<h5>
					<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="/pyscaffold">pyscaffold</a></strong>
					- scaffold python project.
				</h5>
				<h5>
					<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="/shortly.py">shortly</a></strong>
					- url shorten.
				</h5>
				<h5>
					<i class="fa fa-cog"></i>&nbsp;&nbsp;<strong><a href="/system-design-primer/#/README-zh-Hans">system
							design prime</a></strong>
					- system design prime, forked from https://github.com/donnemartin/system-design-primer.
				</h5>
			</div>
		</div>
	</div>
</section>